<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thenyleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form method="post">
    <input type="text" name="first"><br>
    <input type="text" name="second"><br>
    <input type="submit" formaction="/calculator/add" value="Add"><br>
    <input type="submit" formaction="/calculator/sub" value="Sub"><br>
    <input type="submit" formaction="/calculator/multiply" value="Multiply"><br>
    <input type="submit" formaction="/calculator/divide" value="Divide"><br>



</form>

</body>
</html>
